
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}

    {% if page.banner_top %}
      <aside class="layout-banner_top" role="complementary">
        {{ page.banner_top }}
      </aside>
    {% endif %}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
      {{ page.content_bottom }}
    </div>{# /.layout-content #}

  </main>

 {% if page.banner_bottom %}
      <aside class="layout-banner_bottom" role="complementary">
        {{ page.banner_bottom }}
      </aside>
    {% endif %}
    
  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
